# 忽略视频文件
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.m4v
*.3gp
*.gif
# 忽略图片文件.
*.jpeg
*.jpg

# 忽略文本文件
*.txt

# 忽略 Python 编译文件
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]

video_mark_tool\视频打标器\重构 copy
pyproject.toml
.vscode/settings.json